In [1]:
import numpy as np
import pandas as pd

C:\Users\r0m02cf\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
#Load the data into a dataframe
df = pd.read_csv('C:/Users/r0m02cf/Downloads/CY2020_US_Imports_from_All_Trade_Partners_for_All_Products_25_04_2022_05_52_25_599267_7/DataExtract.csv')

In [3]:
# Check the dataframe

In [4]:
df.head(2)

,Year,Month,Reporter,Trade Direction,Trade Partner,HS4 Code,HS4 Description,HS6 Code,HS6 Description,Tariff Line Code,Tariff Line Description,USD,Primary Quantity,Unit Price,Primary Units
0,2020,1,United States,Import,Argentina,101,"Horses, Asses, Mules And Hinnies, Live",10121,"Horses, Live, Purebred Breeding",101210010,"Horses, Live, Purebred Breeding Male",12000,1,12000.0,NO
1,2020,9,United States,Import,Argentina,101,"Horses, Asses, Mules And Hinnies, Live",10121,"Horses, Live, Purebred Breeding",101210010,"Horses, Live, Purebred Breeding Male",6000,1,6000.0,NO

In [5]:
# Summarize the dataframe by HS6 Code and Trade Partner

In [6]:
coo_summary = df.pivot_table(values="USD",index="HS6 Code",columns="Trade Partner",
    aggfunc='sum', dropna=True,fill_value=0)

In [7]:
coo_summary.head(2)

Trade Partner,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua & Barbuda,Argentina,Armenia,Aruba,...,Vatican City State,Venezuela,Vietnam,Virgin Islands (British),Wallis & Futuna Islands,West Bank,Western Sahara,Yemen,Zambia,Zimbabwe
HS6 Code,,,,,,,,,,,,,,,,,,,,,
10121,0,0,0,0,0,0,0,2248869,0,0,...,0,0,0,0,0,0,0,0,0,0
10129,0,0,0,0,0,0,0,4565856,0,0,...,0,9000,0,0,0,0,0,0,0,0

In [8]:
#Export the parsed and summarized dataframe into a csv file
coo_summary.to_csv('C:/Users/r0m02cf/Downloads/coo_2020.csv')